%div.well
  %table.table
    %tbody
      %tr
        %td
          Name
        %td
          Startdatum
        %td
          Enddatum
        %td
          Startzeit
        %td
          Endzeit
        %td
          Location
        %td
          desc

  %div.offset10
    %button{ :type => "button", :class => "btn btn-warning", :id => "remove" }
      Remove
%div.well
  %table.table
    %tbody
      %tr
        %td
          Name
        %td
          Startdatum
        %td
          Enddatum
        %td
          Startzeit
        %td
          Endzeit
        %td
          Location
        %td
          desc

  %div.offset10
    %button{ :type => "button", :class => "btn btn-warning", :id => "remove" }
      Remove

